@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese');

@font-face {
    font-family: 'geo';
    src: url('geomanist-regular-webfont.ttf');
    /* IE9 Compat Modes */
    src: url('geomanist-regular-webfont.ttf') format('truetype'),
        /* Safari, Android, iOS */
}

/**** header style ****/
.header {
    padding: 25px 0;
    font-family: 'Open Sans', sans-serif;
    -webkit-box-shadow: -1px 6px 17px -7px rgba(158, 158, 158, 0.72);
    -moz-box-shadow: -1px 6px 17px -7px rgba(158, 158, 158, 0.72);
    box-shadow: -1px 6px 17px -7px rgba(158, 158, 158, 0.72);
    position: relative;

    img {
        max-width: 210px;
    }

    .float-right {
        .step-inner {
            width: 500px;

            .step {
                padding: 0;
                text-align:center;
                .num {
                    display: inline-block;
                    width: 26px;
                    height: 26px;
                    border: 2px solid #B4B0AB;
                    border-radius: 50%;
                    background: #B4B0AB;
                    position: relative;
                    color: #fff;
                    font-size: 12px;
                    font-weight: bold;
                    text-align: center;
                    padding-top: 2px;
                    z-index: 99;

                    i {
                        font-size: 20px;
                    }
                }

                &:not(:last-child):after {
                    content: "";
                    height: 5px;
                    border: 1px solid rgba(104, 104, 104, 0.458);
                    background: #D8D8D8;
                    display: block;
                    position: absolute;
                    top: 10px;
                    right: 0;
                    width: 50%;
                }
                &:not(:first-child):before {
                    content: "";
                    height: 5px;
                    border: 1px solid rgba(104, 104, 104, 0.458);
                    background: #D8D8D8;
                    display: block;
                    position: absolute;
                    top: 10px;
                    left: 0;
                    width: 50%;
                }
                &.active {
                    &:after, &:before {
                        content: "";
                        background: #004F7E !important;
                    }
                    
                    .num {
                        background: #004F7E;
                    }
                }

                .step-status {
                    display: block;
                    text-transform: uppercase;
                    font-weight: 600;
                    color: #161616;
                }
            }
        }
    }
}

/**** product-detail style *******/
.product-detail {
    background: url("../images/bg.jpg") center top no-repeat;
    padding-top: 20px;

    .left-side {
        background-color: #fff;
        -webkit-box-shadow: 2px 2px 2px 2px #ccc;
        box-shadow: 2px 2px 2px 2px #ccc;
        margin-bottom: 20px;
    }

    img {
        max-width: 100%;
    }

    .user-viewed {
        margin: 0px 0px 0px 0px;
        padding: 15px 59px;
        background: #ffc709;

        p {
            margin: 0;
            color: #000;
            font-weight: 400;
            font-size: 20px;
            line-height: 19px;

            img {
                margin-right: 5px;
            }

            .stopWatch {
                font-weight: 700;
            }
        }
    }

    .stock {
        p {
            font-size: 18px;
            color: #5a5a5a;
            margin: 0;
            padding: 14px 0 0 16px;

            .green {
                font-weight: 700;
                color: #004f7e;
            }
        }

        hr {
            border-bottom: 1px solid #dedede;
            margin: 10px auto;
            width: 94%;
        }
    }

    .details {
        padding-top: 20px;

        .row {
            margin: 0;
        }

        .product-name {
            color: #555;
            text-decoration: underline;
            font-size: 18px;
            margin-bottom: 3px;
            font-weight: bold;
        }

        p {
            font-size: 14px;
            line-height: 20px;
            margin-bottom: 3px;
        }

        .product-price {
            div {
                color: #5a5a5a;
                padding: 4.5px 0;
                font-size: 20px;
                text-transform: capitalize;

                span {
                    float: right;
                }
            }

            .sub-price {
                border-bottom: 1px solid #dedede;
                font-weight: bold;

                .green {

                    color: #4EA722;
                }
            }
        }

        .total-price {
            text-transform: uppercase !important;
            font-weight: bold;
            margin-top: 20px;

            span {
                padding-left: 20px;
            }
        }

        ul.test-points {
            columns: 2;
            list-style-type: none;
            list-style: none;
            font-family: "geo";
            margin-top: 30px;
            border-top: 1px solid #ccc;
            margin: 30px 15px 0 15px;
            padding: 25px 0;

            li {
                background: url(../images/check.png) 9px 14px no-repeat;
                font-size: 19px;
                color: #000;
                padding: 10px 0 4px 37px;
            }
        }
    }

    .more-info {
        background-color: #f4f4f4;

        line-height: 17px;
        color: #d3d3d3;
        text-align: left;
        margin: 0;
        padding: 21px 17px 16px 22px;

        small {
            font-size: 11px;
        }
    }

    .payment-head {
        background: url("../images/left-bg.png") center top no-repeat;
        height: 130px;
        width: 100%;
        position: relative;
        background-size: 100% 100%;
    }

    .payment-body {
        background: #fff;
        color: #2b2b2b;
        box-shadow: -1px 4px 18px -4px rgba(0, 0, 0, 0.36);

        .row {
            margin-right: 0;
            margin-left: 0;

            .row {
                margin-right: -15px;
                margin-left: -15px;
            }
        }

        label {
            line-height: 15px;
            text-align: right;
            text-transform: capitalize;
        }

        .payment-methods {
            padding: 15px;
            font-size: 16px;
            text-align: center;
            font-weight: 400;
            text-transform: capitalize;
            margin-bottom: 20px;
        }

        .form-control {
            height: 32px;
            border-radius: 3px;
            border: 1px solid #cccccc;
            padding: 0 10px;
            outline: none;
            font-size: 13px;
        }

        .note {
            font-size: 12px;
            text-align: left;
            padding-left: 0;
        }

        .btn-success {
            margin-top: 15px;
            background: #7AB219;
            margin-bottom: 15px;
            height: 71px;
            -webkit-animation: seconds infinite 1s;
            animation: seconds infinite 1s;
            width: 100%;
            max-width: 280px;
            border-color: #7AB219;
            text-transform: uppercase;
            font-weight: 600;
            font-size: 23px;
        }

        @keyframes seconds {
            0% {
                transform: scale(1);
                background: #9EC757;
            }

            50% {
                transform: scale(.95);
                background: #9EC757;
            }

            100% {
                transform: scale(1);
                background: #9EC757;
            }
        }

        .securty {
            img {
                max-width: 100%;
            }
        }
    }

    .right-footer {
        background: #EFEFEF;
        font-size: 12px;
        font-weight: bold;
        padding: 9px;
        text-align: center;
        color: #555;
        margin-top: 10px;
    }
}

/***** footer style ******/
.footer {
    padding: 38px 0 22px;
    color: #000;
    font-size: 16px;
    line-height: 17px;
    font-weight: 400;
}

@media(max-width:991.98px) {

    .header .container,
    .product-detail .container,
    .footer .container {
        max-width: 100%;
    }

    .product-detail .payment-body .btn-success {
        height: 55px;
        max-width: 230px;
        font-weight: 600;
        font-size: 19px;
    }

    .header {
        text-align: center;

        .float-right {
            float: none !important;

            .step-inner {
                width:100%;
                .step{
                    padding-left: 10px;
                    padding-right: 10px;
                    .step-status {
                        font-size: 14px;
                    }
                }
            }
        }
    }
}

@media(max-width:767.98px) {
    .product-detail .right-side {
        max-width: 420px;
        margin: 0 auto;
    }
    .footer {
        font-size: 12px;
        font-weight: 400;
    }
    .product-detail .user-viewed {
        padding: 15px 15px;
    }
    .product-detail .user-viewed p {
        font-size: 14px;
    }
    .product-detail .stock p {
        font-size: 16px;
    }
    .product-detail .details .total-price{
        margin-top: 0;
    }
    .product-detail .details ul.test-points {
        columns: 1;
    }
}